/* body {
    background-size: cover;
} */

/* Adding background image to jumbotron. Code reference: https://www.youtube.com/watch?v=xbHvjWYDHkg */
.big-banner {
  background-image: url("../images/Tree_Background_grey.jpg");
  /* padding-top: 10 px !important; */
  font-family: "Schoolbell", cursive;
}
h4 {
  font-family: "Schoolbell", cursive;
  font-family: "Pragati Narrow", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.subtitle {
    font-size: 180%;
}

/*Overrides the default bootstrap css styling with '!important' to make the button bigger */
.badge-danger {
    padding: .5em !important;  
}

/* Change the Start Game button color slightly when mouse is hovered over */
.btn-primary:hover {
    background-color: #3063d3e7;
}

.btn-success:hover {
    background-color: rgb(31, 71, 31);
}

footer {
    color: whitesmoke;
    background-color: #726a6a;
    padding: .25rem;
    margin-top: 50px;
    margin-bottom: 0;
}

#contentReference {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1rem;
}